<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        Counter introduce:<input type="text" ng-model="counter" ng-change="countingCounter()">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                            First Block: <input type="text" ng-model="startnumber" disabled>
                    </div>
                    <div class="col-sm-6">
                            Last Block:  <input type="text" ng-model="endnumber" disabled>
                    </div>       
                </div>

                Block it will stop:<input type="text" ng-model="endloop">

                <input type="checkbox" ng-model="keyLooper"> Looper<br>

                <div class="row">
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-primary" ng-click="getData()" ng-disabled="offbutton || (endnumber - startnumber) > 50 
                            || endnumber == null || startnumber == null || (endnumber - startnumber) < 0" >Read Blocks</button>
                    </div>

                    <div class="col-sm-3">
                        <button type="button" class="btn btn-primary" ng-click="evalTime(AllBlocks)">Evaluar tiempo</button>
                    </div>

                    <div class="col-sm-3">
                        <button type="button" class="btn btn-primary" ng-click="watchblocks()">See array</button>
                    </div>
                </div>

                <span ng-show="error">Error CORS</span>

                

            </div>               
        </div>
    </div>
</div>